.logo__cursor{
    background: purple;
    width: 2px;
    height: 1.2rem;
    margin-left: 2px;
}

.post-cover{
    height: 280px;
    max-width: 860px;
    object-fit: cover;
}

.logo__mark {
    display: none;
}

.footer{
    display: none;
}

.video-shortcode {
    max-width: 100%;
    height: auto;
}


.collapsable-code{
    box-shadow: 0px 0px 12px #333;
    border-radius: 10px;
}